$button-default:#fafafa;
$button-default-hover:#ebebeb;

$button-blue:#eaf8f3;
$button-blue-hover: #dbf7ed;

$button-red: #f8dade;
$button-red-hover: #fdcbd1;

$color-text: #868686;
$color-blue: #99dfc6;
$color-gray: #aaaaaa;
$color-blue: #99dfc6;
$color-red: #ea8894;